.footer {
  color: #aaa;
  background-color: #252525;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  height: 120px;
  padding-bottom: 120px;
  position: absolute;
  width: 100%;
  line-height: 1.2em;

  p.terms {
    margin-top: 0;
    font-size: .8em;
    line-height: 1.3em;
    margin-bottom: 1em;
  }

  a {
    color: #aaa;
  }
}