.footer {
  color: #aaa;
  background-color: #252525;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  height: 180px;
  width: 100%;
  line-height: 1.2em;

  abbr[title] {
    text-decoration: none;
    border-bottom: none;
  }

  p.terms, p.org {
    margin-top: 0;
    font-size: .8em;
    line-height: 1.3em;
    margin-bottom: 1em;
  }

  a {
    color: #aaa;
  }
}