.app-screen {
	label {
    	font-weight: 400;
    }
}

input.form-control {
	border-radius: 4px;
	-webkit-box-shadow: 0 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 0 transparent;
	box-shadow: 0 0 0 0 transparent;
}