.navbar {
	font-size: 16px;
	font-weight: 300;
    margin-top: 20px;
	margin-bottom: 20px;
	color: #999;
    background-color: transparent;
    border-top: none;
    border-bottom: none;

	.navbar-brand {

		i {
			color: #f4645f;
		}
	}

	.navbar-nav {
		padding-top: 7px;
		li a.v-link-active {
			text-decoration: underline;
		}
	}

	.dropdown-menu {
		li {
			font-size: 14px;

			a {
				font-weight: 400;
				line-height: 25px;
				vertical-align: middle;
			}

			a.auth.outline {
				border: none;
			}
		}
	}
}


.navbar-nav > li > a {
	margin-top: 13px;
	padding-top: 10px !important;
	padding-bottom: 0 !important;
	height: 42px;
}

.navbar-brand {
	min-width: 280px;
	background: transparent url('/images/alternativet-500px.png') no-repeat;
	background-size: 250px 56px;
	background-position: 15px 11px;
}

.nav {
	li  {

		font-weight: 400;

		a.auth {
			color: $brand-primary;
		}
		a.auth:hover, a.auth:active {
			color: #337ab7;
		}

		a.auth.outline {
			border: 1px solid #3090e7;
			border-radius: 4px;
		}

		a.auth.outline:hover, a.auth.outline:active {
			color: #fff;
			text-decoration: none;
			background-color: $brand-primary;
		}
	}
}

