<div style="margin-top: 125px;">
</div>
<footer class="footer">
	<div class="container" style="color: #777;">
		<!-- Company Information -->
		<div class="pull-left" style="padding-top: 28px; font-size: 1.2em;">
			<p>
				Alternativet
			</p>
            <p class="terms">
                Dette nettstedet bruker informasjonskapsler (cookies).<br />
                <a v-link="{ path: '/personvern' }">Personvern og betingelser <i class="fa fa-caret-right"></i></a>
            </p>
		</div>
		<!-- Social Icons -->
		<div class="pull-right footer-social-icons">
			<a href="http://facebook.com/{{ links.facebook }}">
				<i class="fa fa-btn fa-facebook-square"></i>
			</a>
			<a href="http://twitter.com/{{ links.twitter }}">
				<i class="fa fa-btn fa-twitter-square"></i>
			</a>
			<!--
			<a href="http://github.com/{{ links.github }}">
				<i class="fa fa-github-square"></i>
			</a>
			-->
		</div>
		<div class="clearfix"></div>
	</div>
</footer>
