<div>
	<div style="margin-top: 155px;">
	</div>
	<footer class="footer">
		<div class="container" style="color: #777;">
			<!-- Company Information -->
			<div class="pull-left" style="padding-top: 28px; font-size: 1.2em;">
				<p>
					Alternativet
				</p>
				<p class="terms">
					Dette nettstedet bruker informasjonskapsler (cookies).<br />
					<a v-link="{ path: '/betingelser' }">Personvern og betingelser <i class="fa fa-caret-right"></i></a>
				</p>
				<p class="org">
					Kontonummer 1254.62.29937. Vipps #79482.<br />
					<abbr title="Organisasjonsnummer">Org nr</abbr> 916 483 511.
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>
