<div>
	<div style="margin-top: 125px;">
	</div>
	<footer class="footer">
		<div class="container" style="color: #777;">
			<!-- Company Information -->
			<div class="pull-left" style="padding-top: 28px; font-size: 1.2em;">
				<p>
					Alternativet
				</p>
				<p class="terms">
					Dette nettstedet bruker informasjonskapsler (cookies).<br />
					<a v-link="{ path: '/betingelser' }">Personvern og betingelser <i class="fa fa-caret-right"></i></a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>
