<nav-component></nav-component>
<div class="container app-screen main">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <header>
            <h2>Personvernerklæring</h2>
            <p><i>Sist oppdatert: 29. mai 2017.</i></p>
        </header>

        <h3>Behandlingsansvarlig og databehandlere</h3>
        <p>
            Hovedstyret er ansvarlig for Alternativets behandling av personopplysninger.
        </p>
        <p>
            Følgende databehandlere behandler personopplysninger på vegne av Alternativet:
        </p>
        <ul>
            <li><a href="https://www.digitalocean.com">DigitalOcean</a></li>
            <li><a href="https://www.typeform.com">Typeform</a></li>
            <li><a href="https://mailchimp.com">The Rocket Science Group (MailChimp)</a></li>
            <li><a href="https://www.google.com">Google (Analytics)</a></li>
        </ul>

        <h3>Innhenting av personopplysninger</h3>
        <p>
            Det er frivillig for de som besøker nettsiden å oppgi personopplysninger i forbindelse med brukerkonto, medlemskap, nyhetsbrev og andre tjenester. Behandlingsgrunnlaget er samtykke fra den enkelte, med mindre annet er spesifisert.
        </p>

        <h3>Informasjonskapsler</h3>
        <p>
            Alternativets netttjenester benytter informasjonskapsler for å logge og spore aktivitet.<br />
        </p>
        <h3>Gjennomsiktighet</h3>
        <p>
            <strong>Det er i utgangspunktet full åpenhet om hvem som er aktive i Alternativet.</strong><br />
            Gjennom Alternativets medlemsplattform er det synlig for alle medlemmer hvem som er medlem i Alternativet. Andre aktive vil også kunne bli eksponert ved navn.
            Som aktivitet regnes blant annet forslagsstilling, posting av innlegg og stemmegiving. Navnet ditt vil derfor kunne bli eksponert om du
            gjør aktive handlinger på Alternativets nettsted og plattformer mens du er logget inn.
        </p>
        <p>
            Personopplysninger utover navn, slik som e-postadresse, mobilnummer og sted, eksponeres kun
            dersom du selv velger det, eller dersom du innehar formelle verv i Alternativet.
        </p>
        <h3>Anonymitet</h3>
        <p>
            Dersom du har spesielle behov, kan du søke hovedstyret om å opptre under pseudonym på Alternativets plattformer. <a href="mailto:post@alternativet.party">Kontakt oss på e-post <i class="fa fa-caret-right"></i></a>
        </p>
        <h3>Sporing av aktivitet</h3>
        <p>
            Vi bruker Google Analytics til besøkssporing og statistikk.
            <a href="http://www.google.com/policies/privacy/">Les mer om Googles vilkår <i class="fa fa-caret-right"></i></a>
        </p>
        <p>
            Som hovedregel logger vi ikke annen aktivitet enn det som lagres i Google Analytics, bortsett fra handlinger som naturligvis fører til registrering
            av data, slik som oppretting av konto, posting av innlegg og andre aktive handlinger.
        </p>
        <h3>Gjeldende lover</h3>
        <p>
            Alternativet behandler personopplysninger i henhold til <a href="https://lovdata.no/dokument/NL/lov/2000-04-14-31">personopplysningsloven</a>.
        </p>
        <h3>Rettigheter</h3>
        <p>
            De som er registrert i Alternativets systemer har rett til innsyn i egne opplysninger. Vedkommende har også rett til å be om at uriktige, ufullstendige eller opplysninger Alternativet ikke har adgang til å behandle blir rettet, slettet eller supplert. Krav fra den registrerte skal besvares innen 30 dager.
        </p>
        <h3>Kontaktinformasjon</h3>
        <p>Ta kontakt med oss på <a href="mailto:post@alternativet.party">post@alternativet.party</a> dersom du har spørsmål om Alternativets bruk av personopplysninger.</p>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
