<nav-component></nav-component>
<div class="container app-screen main">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <header>
            <h2>Personvern og brukervilkår</h2>
        </header>
        <p>
            Dette nettstedet benytter informasjonskapsler for å spore innlogging og aktivitet.<br />
            Alternativet behandler personopplysninger i henhold til personopplysningsloven.
        </p>
        <p><i>Sist oppdatert: 19. september 2016.</i></p>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
