<nav-component></nav-component>
<div class="container app-screen main">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <header>
            <h2>Personvernerklæring</h2>
            <p><i>Sist oppdatert: 1. mai 2017.</i></p>
        </header>
        <p>
            Dette nettstedet benytter informasjonskapsler for å logge og spore aktivitet.<br />
            Alternativet behandler personopplysninger i henhold til <a href="https://lovdata.no/dokument/NL/lov/2000-04-14-31">personopplysningsloven</a>.
        </p>
        <h3>Gjennomsiktighet</h3>
        <p>
            <strong>Det er i utgangspunktet full åpenhet om hvem som er aktive i Alternativet, både medlemmer og ikke-medlemmer.</strong>
            Som aktivitet regnes blant annet forslagsstilling, posting av innlegg og stemmegiving. Navnet ditt vil derfor kunne bli eksponert om du
            gjør aktive handlinger på Alternativets nettsted.
        </p>
        <p>
            Navnet ditt er skjult for offentligheten inntil du bidrar aktivt. Andre opplysninger, slik som e-postadresse, mobilnummer og sted, eksponeres kun
            dersom du selv velger det, eller dersom du innehar formelle verv i Alternativet.
        </p>
        <h3>Anonymitet</h3>
        <p>
            Dersom du har spesielle behov, kan du søke hovedstyret om å opptre under pseudonym på Alternativets plattformer. <a href="https://alternativet.typeform.com/to/u5OmqD">Registrer bruker i dette skjemaet</a> og oppgi at du har spesielt behov for å beskytte identiteten din.
        </p>
        <h3>Sporing av aktivitet</h3>
        <p>
            Vi bruker Google Analytics til besøkssporing og statistikk.
            <a href="http://www.google.com/policies/privacy/">Les mer om Googles vilkår <i class="fa fa-caret-right"></i></a>
        </p>
        <p>
            Som hovedregel logger vi ikke annen aktivitet enn det som lagres i Google Analytics, bortsett fra handlinger som naturligvis fører til registrering
            av data, slik som oppretting av konto, posting av innlegg og andre aktive handlinger.
        </p>
        <p>Ta kontakt med oss på <a href="mailto:post@alternativet.party">post@alternativet.party</a> dersom du har spørsmål om Alternativets bruk av personopplysninger.</p>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
