<nav-component></nav-component>
<div class="container app-screen qa">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <header>
            <h2>Vil du at Alternativet skal kunne stille til valg?</h2>
        </header>
        <p class="lead">
            Vi samler nå inn 5&nbsp;000 erklæringer fra stemmeberettigede som ønsker at Alternativet skal
            registreres som partinavn og dermed få mulighet til å stille til valg.
        </p>
        <p>
            Erklæringene må signeres for hånd og sendes eller leveres til Alternativet. Alle som har stemmerett i stortingsvalget 2017,
            født i 1999 eller tidligere, kan signere.
            Når 5&nbsp;000 erklæringer er samlet inn, kan Alternativet registreres i partiregisteret og får rett til å stille
            med valglister i alle fylkene til stortingsvalget i 2017.
        </p>
        <p>
            Erklæringen dreier seg kun om registrering av partinavn i partiregisteret. Man trenger altså ikke å bli medlem,
            stemme på Alternativet eller for den saks skyld støtte Alternativet på noe annen måte om man avgir erklæring.
        </p>
        <p>
            Denne signaturlista har plass til 15 erklæringer, men du trenger selvfølgelig ikke fylle den ut før du sender den inn.
            Det viktigste er at lista blir levert til Alternativet, enten det er én, tre eller 15 erklæringer på den.
        </p>
        <p class="document-link">
            <a href="https://dokumenter.alternativet.io/registrering/underskriftsliste.pdf">
                <i class="fa fa-file-pdf-o"></i> Underskriftsliste for å registrere Alternativet som politisk parti <i class="fa fa-caret-right"></i>
            </a>
        </p>
        <p>
            <strong>Vil du at Alternativet skal kunne stille til valg?</strong><br />
            Skriv ut en underskriftsliste, signer og send til:
        </p>
        <address>
            Alternativet<br />
            Turbinveien 1<br />
            0195&nbsp;&nbsp;OSLO
        </address>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
