<nav-component></nav-component>
<div class="container app-screen qa">
    <div class="col-md-1">

    </div>
    <div class="col-md-9">
        <header>
            <h2>Velgererklæringer</h2>
        </header>
        <p class="lead">
            Alternativet samler 5 000 erklæringer for å registreres i partiregisteret og
            stille til valg.
        </p>
        <p>
            Baz.
        </p>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
