<nav-component></nav-component>
<div class="container app-screen qa">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <header>
            <h2>Vil du representere Alternativet i Stortinget?</h2>
        </header>
        <p class="lead">
            Alternativet stiller til valg for mot, åpenhet, humor, empati, raushet og ydmykhet.
        </p>
        <p>

        </p>
        <p>
            Erklæringen dreier seg kun om registrering av partinavn i partiregisteret. Man trenger altså ikke å bli medlem,
            stemme på Alternativet eller for den saks skyld støtte Alternativet på noe annen måte om man avgir erklæring.
        </p>
        <p>
            Valglistene må
        </p>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
