<nav-component></nav-component>
<div class="container app-screen">
	<!-- Tabs -->
	<div class="col-md-3">
		<ul class="nav app-tabs-stacked">
			<li >
				<a v-link="{ path: '/om/om' }">
					<i class="fa fa-btn fa-fw fa-info"></i>&nbsp;Alternativet</span>
				</a>
			</li>
			<li >
				<a v-link="{ path: '/om/kontakt' }">
					<i class="fa fa-btn fa-fw fa-envelope"></i>&nbsp;Kontakt</span>
				</a>
			</li>
			<li >
				<a v-link="{ path: '/om/organisasjon' }">
					<i class="fa fa-btn fa-fw fa-group"></i>&nbsp;Organisasjon</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- Tab Panes -->
	<div class="col-md-9">
		<router-view></router-view>
	</div>
</div>
<footer-component></footer-component>

