<div class="container placeholder">
    <img src="/images/alternativet-placeholder.png" alt="Alternativet" width="250" />
    <p>
        Det trengs en ny politisk kultur!
    </p>
    <p class="additional">
        Her kommer det en skikkelig nettside etter hvert. Vi lover.<br />
        I mellomtida kan du finne oss på  <a href="https://www.facebook.com/groups/528114394010043/">på facebook</a>.<br />
        Alle er velkommen i gruppa, ingen forpliktelser.
    </p>
    <p>
        I dag kl 11:00 holder vi pressekonferanse på Eidsvolls plass foran Stortinget.<br/>
        Velkommen!
    </p>
    <p class="additional">
        Kontakt: Kay Asbjørn Schjørlien, 974 72 700. Marianne Grøtte, 988 11 188.<br/>
        Mari Maaø Nilssen, 910 00 533. Mohamed Ali Rashid, 932 90 567. Leo Valen, 466 65 533.
    </p>
    <p>
        <b><a href="https://dokumenter.alternativet.io/Manifest.pdf">Alternativets manifest <i class="fa fa-caret-right"></i></a></b>
    </p>
</div>