<div class="container placeholder">
    <img src="/images/alternativet-placeholder.png" alt="Alternativet" width="250" />
    <p>
        Alternativet er en plattform for å skape en ny involverende politisk kultur.<br />
        Det skal vi gjøre med mot, åpenhet, humor, empati, raushet og ydmykhet.
    </p>
    <p class="additional">
        Inntil videre skjer det meste <a href="https://www.facebook.com/groups/528114394010043/">på facebook</a>.<br />
        Alle er velkommen i gruppa, ingen forpliktelser.
    </p>
    <p class="additional">
        Du kan også kontakte oss <a href="mailto:post@alternativet.io">på epost</a> eller telefon:
        Leo Valen, 466 65 533. Mari Maaø Nilssen, 910 00 533.<br/>
        Kay Asbjørn Schjørlien, 974 72 700. Mohamed Ali Rashid, 932 90 567.
    </p>
    <p>
        <b><a href="https://dokumenter.alternativet.io/Manifest.pdf">Alternativets manifest <i class="fa fa-caret-right"></i></a></b>
    </p>
</div>
