<div class="container placeholder">
    <img src="/images/alternativet-placeholder.png" alt="Alternativet" width="250" />
    <p>
        Et nytt politisk parti for å omdanne måten politikk blir til på.
    </p>
    <p class="additional">
        Her kommer det en skikkelig nettside etter hvert. Vi lover.<br />
        I mellomtida kan du finne oss <a href="https://www.facebook.com/groups/528114394010043/">på facebook</a> og gjennom <a href="https://alternativet.chat">prateplattformen vår</a>.
    </p>
    <p class="additional">
        På mandag arrangerer vi <a href="https://underskog.no/kalender/109703_lunsjmøte-hvordan-ville-ditt-perfekte-politiske-parti-sett/forestilling/184489">åpent lunsjmøte med Uffe Elbæk og Ellen Stenslie</a> på Eldorado bokhandel i Oslo.
    </p>
    <p>
        <b><a href="https://dokumenter.alternativet.io/Manifest.pdf">Alternativets manifest <i class="fa fa-caret-right"></i></a></b>
    </p>
</div>