<nav-component></nav-component>
<div class="container app-screen main">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <header>
            <h2>Politikk</h2>
            <p>
                Alternativet er et nytt politisk parti, helt i startgropa. Politikken vår tar utgangspunkt i
                <a href="http://www.fn.no/Tema/FNs-baerekraftsmaal">FNs bærekraftsmål</a> og kjerneverdiene våre:
                mot, raushet, ydmykhet, åpenhet, humor og empati.
            </p>
        </header>
        <p>
            <span class="lead">Ny politisk kultur</span><br />
            Alternativets politikk blir til gjennom politiske verksted og workshops. <a v-link="{ path: '/' }">Opprett konto</a> for å få beskjed om arrangementer
            og delta i utviklingen av Alternativets politikk. Nå i begynnelsen foregår det også mange samtaler
            <a href="https://www.facebook.com/groups/528114394010043/">i facebook-gruppa vår.</a>
        </p>
        <p>
            <span class="lead">Hvorfor et nytt politisk parti?</span><br />
            Vi vil skape et nytt parti som bedre gjenspeiler samfunnet i dag enn de etablerte politiske partiene.
            Vi vil utvikle de demokratiske strukturene rundt Stortinget, fylkestingene og kommunestyrene til å bli
            mer involverende, og det krever at vi eksperimenterer med nye samarbeidsformer og metoder for å
            ta beslutninger.
        </p>
        <p>
            Vi tror at det må et nytt politisk parti til for å endre de politiske strukturene innenfra, løsne opp i
            gamle mønstre og involvere flere i å utvikle og utøve politikk.
        </p>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
