<nav-component></nav-component>
<div class="container app-screen">
	<!-- Tabs -->
	<div class="col-md-3">
		<ul class="nav app-tabs-stacked">
			<li >
				<a v-link="{ path: '/profil/meg' }">
					<i class="fa fa-btn fa-fw fa-user"></i>&nbsp;Mine opplysninger</span>
				</a>
			</li>
			<li >
				<a v-link="{ path: '/profil/innstillinger' }">
					<i class="fa fa-btn fa-fw fa-cog"></i>&nbsp;Innstillinger</span>
				</a>
			</li>
			<!--
			<li >
				<a v-link="{ path: '/profil/sikkerhet' }">
					<i class="fa fa-btn fa-fw fa-lock"></i>&nbsp;Sikkerhet</span>
				</a>
			</li>
			-->
		</ul>
	</div>
	<!-- Tab Panes -->
	<div class="col-md-9">
		<router-view></router-view>
	</div>
</div>
<footer-component></footer-component>

