<nav-component></nav-component>
<div class="container app-screen manifest">
    <div class="col-md-1">

    </div>
    <div class="col-md-9">
        <header>
            <h2>Spørsmål og svar</h2>
            <p>
                Alternativet er et nytt politisk parti, helt i startgropa. Hvis du ikke finner svar på det du lurer
                på om Alternativet, må du gjerne kontakte oss!
            </p>
        </header>
        <p>
            <span class="lead">Hva er Alternativet?</span><br />
            Alternativet er et nytt politisk parti for å involvere flere i de demokratiske prosessene som styrer staten,
            fylkeskommunene og kommunene.
        </p>
        <p>
            <span class="lead">Hvordan startet Alternativet?</span><br />
        </p>
        <p>
            <span class="lead">Hva er poenget med et politisk parti uten politikk?</span><br />
        </p>
        <p><span class="lead">Alternativet er glede.</span><br />Uten humor ingen kreativitet. Uten kreativitet ingen gode idéer. Uten gode idéer ingen skaperkraft. Uten skaperkraft intet resultat.</p>
        <p><span class="lead">Alternativet er en positiv motkraft.</span><br />En lyst til å komme med reelle og seriøse svar på miljø- og ressurskrisen som jorden befinner seg i. En krise som for hver dag forverrer våre egne, våre barns og våre barnebarns muligheter for et godt, rikt og meningsfylt liv.</p>
        <p><span class="lead">Alternativet er nysgjerrighet</span><br />på hvordan vi utvikler bygdene, byene og nasjonene våre. Vi vil selv ta vare på økonomien og de demokratiske beslutningene på arbeidsplassene og i lokalsamfunnene der vi lever våre liv. Vi mister likevel ikke det globale utsynet og ansvaret for å finne felles løsninger med både våre naboer og med de som bor på den andre siden av kloden.</p>
        <p><span class="lead">Alternativet er samarbeid.</span><br />Vi vet at private virksomheter ikke kan løse problemene alene. Det kan heller ikke de offentlige institusjonene eller organisasjonslivet gjøre. Derfor skal vi oppfinne helt nye koblinger og samarbeidsmodeller, der vi bruker det beste fra det private, det offentlige og organisasjonslivet.</p>
        <p><span class="lead">Alternativet er åpenhet.</span><br />Vi vil prøve nye idéer og skape løsninger som virker. Alternativet er også streben etter å forstå komplekse sammenhenger og motstå fristelsen å benytte forenklede argumenter og behagelige illusjoner.</p>
        <p><span class="lead">Alternativet er mot</span><br />til å se problemene i øynene. Men også mot til å møte framtida vi har sammen.</p>
        <p><span class="lead">Alternativet er allerede virkelighet.</span><br />Rundt om på kloden vår blir det i vår tid skapt helt nye institusjonstyper, organisasjonsformer og sosiale nettverk. Om det skjer i Oslo, København, Seoul, Durban eller Rio betyr ikke så mye hver for seg, men tilsammen utgjør de en levedyktig global endringsbølge.</p>
        <p><span class="lead">Alternativet er for deg</span><br />som merker at noe er i bevegelse. Som har en fornemmelse av at noe nytt er i ferd med å avløse det gamle. En annen måte å se på demokrati, vekst, arbeidsliv, ansvar og livskvalitet.<br />
            Det er Alternativet.</p>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
