<nav-component></nav-component>
<div class="container app-screen qa">
    <div class="col-md-1">

    </div>
    <div class="col-md-9">
        <header>
            <h2>Spørsmål og svar</h2>
            <p>
                Alternativet er et nytt politisk parti, helt i startgropa. Hvis du ikke finner svar på det du lurer
                på om Alternativet, må du gjerne kontakte oss!
            </p>
        </header>
        <p>
            <span class="lead">Hva er Alternativet?</span><br />
            Alternativet er et nytt politisk parti for å involvere flere i de demokratiske prosessene som styrer staten,
            fylkeskommunene og kommunene.
        </p>
        <p>
            <span class="lead">Hva er politikken til Alternativet?</span><br />
            Svar.
        </p>
    </div>
    <div class="col-md-2">

    </div>
</div><!-- End container -->
<footer-component></footer-component>
