/*
 * Variables...
 */
 
$border-radius-base: 0;
$brand-primary: #288feb;
$brand-success: #00d300;
$active-icon-color: #00d300;
$btn-border-radius-base: 4px;
$btn-font-weight: 400;
$base-font-weight: 400;
$font-family-sans-serif: proxima-nova, Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;
$navbar-height: 65px;

/*
 * Bootstrap CSS...
 */
 
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * Elements
 */

@import "elements/buttons";
@import "elements/footer";
@import "elements/forms";
@import "elements/modals";
@import "elements/nav";
@import "elements/panels";
@import "elements/tables";
@import "elements/tooltips";
@import "pages/home";

/**
 * Components
 */

@import "components/tabs";

/*
 * Misc.
 */

html {
	min-height: 100%;
	position: relative;
}

body {
	font-weight: 400;
	margin-bottom: 80px;
}

.announcement {
	color: #fff;
	background-color: #288feb;
	height: 4em;
	text-align: center;

	p {
		font-size: 1.2em;
		padding-top: 1em;
		a {
			color: #fff;
		}
	}
}

.placeholder {
	display: block;
	margin-top: 8%;
	text-align: center;
	vertical-align: middle;

	p {
		margin-top: 1em;
		font-size: 1.2em;
	}

	p.additional {
		font-size: 1em;
	}
}

[v-cloak] {
    display: none;
}

input[type=style] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.fa.fa-caret-right {
	margin-left: .2em;
	font-size: .9em;
}