<div class="panel-heading">
	Kontakt
</div>
<div class="panel-body">
	<p class="lead">
		Ta kontakt med oss om du lurer på noe om Alternativet, enten det gjelder politikkutviklingen, organisasjonen,
		nettplattformene, medlemskapet ditt eller noe helt annet : )
	</p>
	<h3>Medlemsservice</h3>
	<p>
		Spørsmål om medlemskap:<br />
		<a href="mailto:medlem@alternativet.party">medlem@alternativet.party</a><br />
		<i class="fa fa-phone"></i> 932 90 567
	</p>
	<h3>Kontaktpersoner</h3>
	<p>
		<strong><a href="mailto:kasbschj@gmail.com">Kay Asbjørn Knutsen Schjørlien</a></strong><br />
		Leder<br />
		<i class="fa fa-phone"></i> 974 72 700
	</p>
	<p>
		<strong><a href="mailto:marianne.grotte@alternativet.party">Marianne Grøtte</a></strong><br />
		Leder<br />
		<i class="fa fa-phone"></i> 988 11 188
	</p>
	<p>
		<strong>Mohamed Ali Rashid</strong><br />
		Medlemskontakt<br />
		<i class="fa fa-phone"></i> 932 90 567
	</p>
	<p>
		<strong><a href="mailto:leo@alternativet.party">Leo Valen</a></strong><br />
		Kommunikasjon og nettplattformer<br />
		<i class="fa fa-phone"></i> 466 65 333 (07:00-08:30 og 17:30-21:00)
	</p>
	<h3>Postadresse</h3>
	<p>
		Ting som må sendes på post (bl. a. erklæringer om registrering av Alternativet i partiregisteret)<br />kan sendes til:<br />
		<address>
			Alternativet<br />
			c/o Leo Valen<br />
			Turbinveien 1<br />
			0195&nbsp;&nbsp;OSLO
		</address>
	</p>
	<h3>Bank og registre</h3>
	<p>
		Organisasjonsnummer: <a href="https://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=916483511">916 483 511</a><br />
		Bankkonto: 1111.22.33333
	</p>
</div>