<!--
	@todo Lag «avtal en date»-knapp på kontaktpersoner
-->
<div>
	<header><h2>Kontakt</h2></header>
	<p class="lead">
		Ta kontakt med oss om du lurer på noe om Alternativet, enten det gjelder politikkutviklingen, organisasjonen,
		medlemskapet ditt eller noe helt annet!
	</p>
	<h3>Generelle henvendelser</h3>
	<p>
		Send en e-post til:<br />
		<i class="fa fa-envelope"></i> <a href="mailto:post@alternativet.party">post@alternativet.party</a><br />
	</p>
	<p>
		Medlemskap:<br />
		<i class="fa fa-envelope"></i> <a href="mailto:medlem@alternativet.party">medlem@alternativet.party</a><br />
	</p>
	<h3>Kontaktpersoner</h3>
	<p>
		<strong><a href="mailto:kay@alternativet.party">Kay Asbjørn Knutsen Schjørlien</a></strong><br />
		Politikkutvikling<br />
		<i class="fa fa-phone"></i> <tel>974 72 700</tel>
	</p>
	<p>
		<strong><a href="mailto:mohamedali@hotmail.no">Mohamed Ali Rashid</a></strong><br />
		Medlems- og frivilligkontakt<br />
		<i class="fa fa-phone"></i> <tel>932 90 567</tel>
	</p>
	<p>
		<strong><a href="mailto:leo@alternativet.party">Leo Valen</a></strong><br />
		Kommunikasjon og nett<br />
		<i class="fa fa-phone"></i> <tel>466 65 333</tel> (07:00-08:30 og 16:30-21:00)
	</p>
	<h3>Postadresse</h3>
	<p>
		Ting som må sendes på post (bl. a. erklæringer om registrering av Alternativet i partiregisteret)<br />kan sendes til:<br />
	<address>
		Alternativet<br />
		Turbinveien 1<br />
		0195&nbsp;&nbsp;OSLO
	</address>
	</p>
	<h3>Bank og registre</h3>
	<p>
		Bank: Cultura Sparebank<br />
		Bankkonto: 1254.62.29937<br />
		IBAN: NO04&nbsp;1254&nbsp;6229&nbsp;937<br />
		BIC: CULTNOK1
	</p>
	<p>
		Organisasjonsnummer: <a href="https://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=916483511">916 483 511</a><br />
		D&amp;B DUNS: 345378364
	</p>
</div>