<div>
	<header><h2>Alternativet</h2></header>
	<p class="lead">
		Alternativet har til formål å skape en ny politisk kultur som gjør samfunnet i stand til å omforme idéer og
		skaperkraft til politikk. Det skal vi gjøre med mot, åpenhet, humor, empati, raushet og ydmykhet.
	</p>
	<p>
		Partiet ble etablert for å lage konkret og godt fundert politikk av alt det gode samfunnsengansjementet som fins,
		uten å hemmes av gamle allianser og utdaterte organisasjonsmodeller.
	</p>
	<p>
		Hovedmålene nå er å:
	</p>
	<ul>
		<li>Stille stortingskandidater til valg minst fem fylker</li>
		<li>Samle 500 underskrifter til hver av stortingslistene vi stiller til valg</li>
		<li>Utvikle Alternativets politiske program</li>
		<li>Samle 5&nbsp;000 erklæringer for å registrere Alternativet i partiregisteret</li>
	</ul>
</div>
