<div class="panel-heading">
	Alternativet
</div>
<div class="panel-body">
	<p class="lead">
		Alternativet har til formål å skape en ny politisk kultur som gjør samfunnet i stand til å omforme idéer og
		skaperkraft til politikk. Det skal vi gjøre med mot, åpenhet, humor, empati, raushet og ydmykhet.
	</p>
	<p>
		Partiet ble etablert for å lage konkret og godt fundert politikk av alt det gode samfunnsengansjementet som fins,
		uten å hemmes av gamle allianser og organisasjonsmodeller.
	</p>
	<p>
		Hovedmålene nå er:
	</p>
	<ul>
		<li>Samle 5&nbsp;000 erklæringer for å registrere Alternativet i partiregisteret</li>
		<li>Utvikle Alternativets politiske program</li>
		<li>Stille stortingskandidater til valg i alle fylkene</li>
	</ul>
</div>