<div>
	<header><h2>Alternativet</h2></header>
	<p class="lead">
		Alternativet har til formål å skape en ny politisk kultur som gjør samfunnet i stand til å omforme idéer og
		skaperkraft til politikk. Det skal vi gjøre med nysgjerrighet, mot, åpenhet, humor, empati, raushet og ydmykhet.
	</p>
	<p>
		Partiet ble etablert for å lage konkret og godt fundert politikk av alt det gode samfunnsengansjementet som fins,
		uten å hemmes av gamle allianser og utdaterte organisasjonsmodeller.
	</p>
</div>
