<div>
    <header><h2>Organisasjon</h2></header>
    <p class="lead">
        Alternativet er organisert med et politisk råd med ansvar for politikkutvikling, arbeidsgrupper med ansvar
        for bestemte saksområder og et hovedstyre med ansvar for myndighetskontakt, økonomi og formalia.
    </p>

    <p>
        <a v-link="{ path: '/manifest' }">Manifestet</a>,
        kjerneverdiene og <a href="http://www.fn.no/Tema/FNs-baerekraftsmaal">FNs bærekraftsmål</a> danner grunnlaget
        for Alternativets politikkutvikling.
    </p>

    <h3>Landsmøtet</h3>
    <p>
        Landsmøtet er Alternativets høyeste myndighet og treffer beslutninger kontinuerlig gjennom partiets nettbaserte plattformer.
        Alle medlemmer har forslagsrett, talerett og stemmerett i landsmøtet.
    </p>
    <p>
        I tillegg til løpende saker, skal landsmøtet årlig behandle partiets årsmelding, regnskap og budsjett,
        velge hovedstyre og revisor, og behandle endringer av vedtektene.
    </p>
    <h3>Politisk råd</h3>
    <p>
        Alternativets politikkutvikling er organisert i politiske sirkler for hvert hovedområde.
    </p>
    <p>
        Politisk råd har ansvar for å samordne politikkutviklingen, og består av en representant fra hver av
        de politiske sirklene.
    </p>
    <h4>Politiske sirkler</h4>
    <p>
        <a href="https://www.facebook.com/groups/1452623128086556/"><i class="fa fa-facebook-official"></i> Næringsliv, landbruk, miljø og samferdsel</a><br />
        <a href="https://www.facebook.com/groups/1791098731124882/"><i class="fa fa-facebook-official"></i> Valg, demokrati og styring</a><br />
        <a href="https://www.facebook.com/groups/808721019239755/"><i class="fa fa-facebook-official"></i> Utdanningspolitisk verksted</a><br />
        <a href="https://www.facebook.com/groups/928279930618557/"><i class="fa fa-facebook-official"></i> Alternativet til NAV</a>
    </p>

    <h3>Arbeidsgrupper</h3>
    <p>
        <a href="https://www.facebook.com/groups/1775445876024845/"><i class="fa fa-facebook-official"></i> Organisasjonsgruppa</a>
        jobber med Alternativets organisering og vedtekter.<br />
        <a href="https://www.facebook.com/groups/1760804650798534/"><i class="fa fa-facebook-official"></i> Media</a>
        har ansvar for utadrettet kommunikasjon.<br />
        <a href="https://www.facebook.com/groups/167623356994532/"><i class="fa fa-facebook-official"></i> Velgererklæringer</a>
        jobber med innsamling av 5&nbsp;000 velgererklæringer for å registrere Alternativet som politisk parti.
    </p>

    <h3>Hovedstyret</h3>
    <p>
        Hovedstyret har ansvar for å føre partiets økonomiske og politiske regnskap, utarbeide årsmelding og
        representere partiet overfor myndighetene. Hovedstyret bistår også fylkes- og lokallagene.
    </p>
    <p>
        Hovedstyret ble valgt 27. juni 2016 for en periode på to år.
    </p>
    <p>
        <strong>Hovedstyrets sammensetning:</strong>
    </p>
    <ul>
        <li>Helena Riise Undall (leder)</li>
        <li>Leo Valen (leder)</li>
        <li>Mathias Johansen</li>
        <li>Eirik Kolstad Kjønnøy</li>
        <li>Mari Maaø Nilssen</li>
        <li>Siavash Sangtarash</li>
        <li>Celestina DaSilva (vara)</li>
    </ul>
    <p><a href="https://www.facebook.com/groups/1410088792340340/"><i class="fa fa-facebook-official"></i> Hovedstyrets facebook-gruppe</a> er åpen for observatører.</p>
    <h3>Lokallag</h3>
    <p>Lokallagene utformer kommune- og bydelspolitikken.</p>
    <p>Der Alternativet oppnår representasjon i de folkevalgte organene, har lokallaget ansvar for å følge opp representanter i kommunestyrer, bydelsutvvalg og andre politisk utnevnte verv.</p>

    <h3>Fylkeslag</h3>
    <p>Fylkeslagene koordinerer lokallagene og utformer fylkespolitikken.</p>
    <p>Der Alternativet oppnår representasjon i de folkevalgte organene, har fylkeslaget ansvar for å følge opp representanter i fylkestinget og fylkets representanter i Stortinget.</p>
</div>
