<div class="panel-heading">
    Organisasjon
</div>
<div class="panel-body">
    <p class="lead">
        Alternativet ble stiftet 14. desember 2015 som en politisk organisasjon for å møte krisene
        samfunnet står overfor. Det skal vi gjøre med kjerneverdiene mot, åpenhet, humor, empati, raushet og ydmykhet.
    </p>

    <p>
        Alternativets <a href="/#!/manifest">manifest</a>,
        kjerneverdiene og <a href="http://www.fn.no/Tema/FNs-baerekraftsmaal">FNs bærekraftsmål</a> danner grunnlaget
        for Alternativets politikkutvikling. Alternativets organisering er fastsatt i <a href="https://dokumenter.alternativet.io/Vedtekter.pdf">vedtektene</a>.
    </p>

    <h3>Landsmøtet</h3>
    <p>
        Landsmøtet er Alternativets høyeste myndighet og treffer beslutninger kontinuerlig gjennom partiets nettbaserte plattformer.
        Alle medlemmer har forslagsrett, talerett og stemmerett i landsmøtet.
    </p>
    <p>
        I tillegg til løpende saker, skal landsmøtet årlig behandle partiets årsmelding, regnskap og budsjett,
        velge hovedstyre og revisor, og behandle endringer av vedtektene.
    </p>
    <h3>Hovedstyret</h3>
    <p>
        Hovedstyret er Alternativets utøvende organ, og har ansvar for å iverksette landsmøtets vedtak.<br />
        Hovedstyret har også ansvar for å føre partiets økonomiske og politiske regnskap, utarbeide årsmelding og
        representere partiet overfor myndighetene.
    </p>
    <p>
        Hovedstyret er per idag et midlertidig styre (interimstyre) som ble valgt ved stiftingen av Alternativet.<br />
        Det skal velges nytt styre i perioden 8.-15. mai.
    </p>
    <p>
        <strong>Hovedstyrets sammensetning:</strong>
    </p>
    <ul>
        <li>Marianne Grøtte (leder)</li>
        <li>Kay Asbjørn Knutsen Schjørlien (leder)</li>
        <li>Ola Braadland</li>
        <li>Ingrid Kvamme Fredriksen</li>
        <li>Mona Nesje</li>
        <li>Mari Maaø Nilssen</li>
        <li>Mohamed Ali Rashid</li>
        <li>Leo Valen</li>
    </ul>

    <h3>Lokallag</h3>
    <p>Lokallagene utformer kommune- og bydelspolitikken.</p>
    <p>Der Alternativet oppnår representasjon i de folkevalgte organene, har lokallaget ansvar for å følge opp representanter i kommunestyrer, bydelsutvvalg og andre politisk utnevnte verv.</p>
    <p>Alternativet har lokallag under etablering i Gamle Oslo.</p>

    <h3>Fylkeslag</h3>
    <p>Fylkeslagene koordinerer lokallagene og utformer fylkespolitikken.</p>
    <p>Der Alternativet oppnår representasjon i de folkevalgte organene, har fylkeslaget ansvar for å følge opp representanter i fylkestinget og fylkets representanter i Stortinget.</p>
    <p>Alternativet har fylkeslag under etablering i Oslo og Rogaland.</p>
</div>
