<div>
    <header><h2>Organisasjon</h2></header>
    <p class="lead">
        Alternativet er organisert med et politisk råd med ansvar for politikkutvikling, arbeidsgrupper med ansvar
        for bestemte saksområder og et hovedstyre med ansvar for myndighetskontakt, økonomi og formalia.
    </p>

    <p>
        <a v-link="{ path: '/manifest' }">Manifestet</a>,
        kjerneverdiene og <a href="http://www.fn.no/Tema/FNs-baerekraftsmaal">FNs bærekraftsmål</a> danner grunnlaget
        for Alternativets politikkutvikling.
    </p>

    <h3>Landsmøtet</h3>
    <p>
        Landsmøtet er Alternativets høyeste myndighet og treffer beslutninger kontinuerlig gjennom partiets nettbaserte plattformer.
        Alle medlemmer har forslagsrett, talerett og stemmerett i landsmøtet.
    </p>
    <p>
        I tillegg til løpende saker, skal landsmøtet årlig behandle partiets årsmelding, regnskap og budsjett,
        velge hovedstyre og revisor, og behandle endringer av vedtektene.
    </p>
    <h3>Politisk råd</h3>
    <p>
        Alternativets politikkutvikling er organisert i politiske sirkler for hvert hovedområde.
    </p>
    <p>
        Politisk råd har ansvar for å samordne politikkutviklingen, og består av en representant fra hver av
        de politiske sirklene.
    </p>
    <h3>Hovedstyret</h3>
    <p>
        Hovedstyret er Alternativets utøvende organ, og har ansvar for å iverksette landsmøtets vedtak.<br />
        Hovedstyret har også ansvar for å føre partiets økonomiske og politiske regnskap, utarbeide årsmelding og
        representere partiet overfor myndighetene.
    </p>
    <h3>Arbeidsgrupper</h3>
    <p>
        <strong><a href="https://www.facebook.com/groups/1775445876024845/">Organisasjonsgruppa</a></strong>

    </p>
    <p>
        Hovedstyret ble valgt 27. juni 2016 for en periode på to år.<br />
    </p>
    <p>
        <strong>Hovedstyrets sammensetning:</strong>
    </p>
    <ul>
        <li>Helena Riise Undall (leder)</li>
        <li>Leo Valen (leder)</li>
        <li>Mathias Johansen</li>
        <li>Eirik Kolstad Kjønnøy</li>
        <li>Mari Maaø Nilssen</li>
        <li>Siavash Sangtarash</li>
        <li>Celestina DaSilva (vara)</li>
    </ul>

    <h3>Lokallag</h3>
    <p>Lokallagene utformer kommune- og bydelspolitikken.</p>
    <p>Der Alternativet oppnår representasjon i de folkevalgte organene, har lokallaget ansvar for å følge opp representanter i kommunestyrer, bydelsutvvalg og andre politisk utnevnte verv.</p>

    <h3>Fylkeslag</h3>
    <p>Fylkeslagene koordinerer lokallagene og utformer fylkespolitikken.</p>
    <p>Der Alternativet oppnår representasjon i de folkevalgte organene, har fylkeslaget ansvar for å følge opp representanter i fylkestinget og fylkets representanter i Stortinget.</p>
</div>
